<div class="disabeld-input">
    {{form.avatar_img}}
    {{form.avatar_url}}
</div>
<div class="form-flex"> 
    <div class="input-holder">
        <label for="id-content">
            {{form.first_name.label}}
        </label>
        {{form.first_name}}
    </div>
    <div class="input-holder">
        <label for="id-content">
            {{form.last_name.label}}
        </label>
        {{form.last_name}}
    </div>
</div>
<div class="form-flex">
    <div class="input-holder">
        <label for="id-content">
            {{form.username.label}}
        </label>
        {{form.username}}
    </div>
    <div class="input-holder">
        <label for="id-content">
            {{form.email.label}}
        </label>
        {{form.email}}
    </div>
</div>
<div class="input-holder">
    <label for="id-content">
        {{form.bio.label}}
    </label>
    {{form.bio}}
</div>
<div class="input-holder">
    <label for="id-content">
        {{form.birth_day.label}}
    </label>
    {{form.birth_day}}
</div>