{% load static %}
<!-- Message Handeling -->

{% if messages %}
<div class="message-box">
    {% for message in messages %}
    <div {% if message.tags %} class="message {{ message.tags }}"{% endif %} >{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<!-- End of Message Handeling -->
<!-- Page Loader -->
<div class="background" id="preloder">
  <div class="loader"></div>
</div>
<!-- End of Page Loader -->
<!-- Login / Register Section -->
<div class="background" style="display: none">
  <button id="form-close" class="close-button">
    <div class="in">
      <div class="close-button-block"></div>
      <div class="close-button-block"></div>
    </div>
    <div class="out">
      <div class="close-button-block"></div>
      <div class="close-button-block"></div>
    </div>
  </button>
  <div class="switcher" id="form-switcher">
    <input type="checkbox" id="switcher" />
    <label for="switcher"></label>
  </div>
  <section id="user-section" class="owl-carousel owl-theme">
    <form method="post" action="{% url 'login' %}" class="form" data-dot="<button id='login-btn'></button>">
      {% csrf_token %}
      <div class="input-holder">
        <label for="login-username">نام کاربری</label>
        <input type="text" name="username" id="login-input" />
      </div>
      <div class="input-holder">
        <label for="login-password">رمز عبور</label>
        <input type="password" name="password" id="login-password" />
      </div>
      <button class="site-btn">ورود</button>
    </form>
    <form method="post" action="{% url 'register' %}" class="form" data-dot="<button id='register-btn'></button>">
      {% csrf_token %}
      <div class="form-flex">
        <div class="input-holder">
          <label for="firstname">نام</label>
          <input type="text" name="firstname" id="firstname" />
        </div>
        <div class="input-holder">
          <label for="lastname">نام خانوادگی</label>
          <input type="text" name="lastname" id="lastname" />
        </div>
      </div>
      <div class="input-holder">
        <label for="username">نام کاربری</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="input-holder">
        <label for="email">ایمیل</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="input-holder">
        <label for="password2">رمز عبور</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="input-holder">
        <label for="login-password">تکرار رمز عبور</label>
        <input type="password" name="password2" id="password2" />
      </div>
      <button class="site-btn">ثبت نام</button>
    </form>
  </section>
</div>
<!-- End of Login / Register Section -->

<!-- Header Section -->
<header>
  <div class="container">
    <section class="logo">
      <a href="#" class="glitch">
        <span aria-hidden="true">CYBER_SHADE</span>
        CYBER_SHADE
        <span aria-hidden="true">CYBER_SHADE</span>
      </a>
    </section>
    <nav class="navbar" id="navbar">
      <section class="navbar-links">
        <a href="#">صفحه اصلی</a>
        <a href="#">بلاگ</a>
        <a href="#">درباره من</a>
        <a href="#">تماس با من</a>
      </section>
      <section class="header-forms">
        <form class="search">
          <div class="search__wrapper">
            <input
              type="text"
              name=""
              placeholder="جستجو ..."
              class="search__field"
            />
            <button type="submit" class="search__icon">
              <img src=" {% static 'img/search.png' %}" alt="search" />
            </button>
          </div>
        </form>
        {% if request.user.is_authenticated %}
        <button id="profile-btn">
          <img src={% if user.avatar %} "{{user.avatar}}" {% else %} "{% static 'img/default-avatar.png'%}"  {% endif %}alt="avatar">
        </button>
        <section id="profile-menu">
            <a href="#">
              پروفایل {{user.username}}
            </a>
            <a href="{% url 'logout' %}">خروج</a>
        </section>
        {% else %}
        <button class="site-btn form-open">ورود / ثبت نام</button>
        {% endif %}
      </section>
    </nav>
    <button id="humberger-btn" aria-label="Main Menu">
      <svg width="50" height="50" viewBox="0 0 100 100">
        <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
        <path class="line line2" d="M 20,50 H 80" />
        <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
      </svg>
    </button>
  </div>
</header>
<!-- End of Header Section -->



<!-- <nav class="social-media">
  <a href=""><img src="{% static 'img/github.png' %}" alt="github" /></a>
  <a href=""
    ><img src=" {% static 'img/linkedin.png' %}" alt="github"
  /></a>
  <a href=""
    ><img src=" {% static 'img/instagram.png' %}" alt="github"
  /></a>
  <a href=""><img src=" {% static 'img/stack.png' %}" alt="github" /></a>
</nav> -->